.gif-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;

    &__container {
        width: 600px;
        height: 400px;
        background-position: center;
        background-size: cover;
        border: 7px solid white;
    }
}