.display {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    padding-top: 3rem;
    flex-direction: column;

    &__bubble {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__icon {
        position: relative;
        background-color: white;
        padding: 20px;
        color: black;
        border-radius: 5px;
        width: 800px;
        height: 100px;
    }

    &__triangle {
        width: 0; 
        height: 0; 
        border-left: 40px solid transparent;
        border-right: 20px solid transparent;
        
        border-top: 60px solid white;
        align-self: flex-end;
    }

    &__trump {
        transform: scaleX(-1);
        height: 300px;
        align-self: flex-end;
    }
}