@font-face {
    font-family: 'Badaboom';
    src: url('../../assets/fonts/BADABB__.TTF');
}


.hero {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;

    &__image {
        display: inline-block;
        background: url('../../assets/trump_yelling.jpg');
        background-position: center;
        background-size: cover;
        width: 700px;
        height: 600px;
        position: relative;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        background: none;
        width: 465px;
        position: absolute;
        left: -130px;
        margin-top: 50px;
    }

    &__yell {
        font-family: 'Badaboom';
        font-size: 6rem;
        color: #271910;
        display: inline-block;
        background: none;
        margin: 0;
    }

    &__softer {
        @extend .hero__yell;
        font-size: 3rem;
        margin: 0;
        color: white;
        margin-right: 6rem;
    }

    &__speech {
        color: white;
        transform: rotate(-25deg);
        margin-top: 1rem;
    }

    &__bubble {
        background: none;
        width: 400px;
        transform: scaleX(-1);
        z-index: 1;
    }
}